<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion</title>
    <script src="https://kit.fontawesome.com/7a0a501500.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <img src="/image/dfbe27d26a5594681492f691cad7aa24.jpg" alt="Cerveza Corona">
        <div id="descripcion">
            <h2><%= producto.nombre %></h2>
            <b><%= producto.precio %></b>
            <div class="envio-retiro">
                <ul type="none">
                    <li><i class="fa-solid fa-shop"></i><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate debitis quos saepe ipsum beatae, commodi amet.</p></li>
                    <li><i class="fa-solid fa-truck"></i><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic qui, obcaecati deleniti officia ut quam adipisci.</p></li>
                </ul>
            </div>
            <div id="opcion-bebida">
                <label for="opcion-bebida">Opcion</label>
                <select name="opcion-bebida" id="envio-retiro">
                    <% producto.opcion.forEach(function(element){ %>
                        <option value=""><%= element %></option>
                    <%}) %>
                </select>
            </div>
            <div id="sel-cant">
                <label for="">Cantidades</label>
                <div id="cantidades">
                    <h1>1</h1>
                    <button>+</button>
                    <button>-</button>
                </div>
            </div>
            <div id="boton-compra">
                <button>Comprar!</button>
            </div>
            <div id="desc-res">
                <label for="">Descripcion</label>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, eligendi iure! Doloremque labore blanditiis sed placeat voluptates reprehenderit aliquam id asperiores adipisci rerum.</p>
                <label for="">Reseñas</label>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eaque optio quis voluptatum obcaecati omnis eum eveniet est iure amet at inventore error minima aliquid</p>
            </div>
        </div>
    </main>
    <%- include('partials/footer')%>
</body>
</html>