<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    
    <%- include('partials/header')%>

        <main class="main">
            <div class="form-create">
            <form method="POST" action="/products/create" enctype='multipart/form-data' class="formulario">
                <div id="ulErrors">
                    <ul type="none"></ul>
                </div>
                <h1>Formulario de creación de productos</h1>

                <p class="etiqueta">Nombre del producto</p>
                <div class="contenedor">
                    <div class="input-contenedor"></div>
                    <% if(locals.old && old.name){%>
                        <input type="text" name="name" id="name_product" value="<%= old.name %>">
                    <%}else{%>
                        <input type="text" name="name" id="name_product" value="">
                    <%  } %>
                    <% if(locals.errors && errors.name){ %>
                        <p class="erroresLocales">
                            <%= errors.name.msg %>
                        </p>
                    <% } %> 
                </div>

                <p class="etiqueta">Descripción</p>
                <div class="contenedor">
                    <div class="input-contenedor"></div>
                    <% if(locals.old && old.description){%>
                        <textarea type="text" name="description" id="description_product"><%= old.description %></textarea>
                    <%}else{%>
                        <textarea type="text" name="description" id="description_product"></textarea>
                    <%  } %>
                    <% if(locals.errors && errors.description){ %>
                        <p class="erroresLocales">
                            <%= errors.description.msg %>
                        </p>
                    <% } %>    
                    
                </div>
                <% if(locals.old){ %>
                    <p class="etiqueta">Precio</p>
                    <div class="contenedor">
                        <div class="input-contenedor"></div>
                        <input type="number" min="0" id="price_product" name="price" value="<%= old.price ? old.price : ''  %>">
                    </div>
    
                    <p class="etiqueta">Descuento</p>
                    <div class="contenedor">
                        <div class="input-contenedor">
                            <input type="number" min="0" max="50" id="discount_product" name="discount" value="<%= old.discount ? old.discount : ''  %>">
                        </div>
                    </div>

                    <p class="etiqueta">Cantidad</p>
                    <div class="contenedor">
                        <div class="input-contenedor">
                            <input type="number" min="0" max="50" name="quantity" value="<%=  old.quantity ? old.quantity : ''  %>">
                        </div>
                    </div>
                    <p class="etiqueta">Imagen del producto</p>
                    <div class="contenedor">
                        <div class="input-contenedor">
                            <input type="file" name="img" value="<%= old.img? old.img : '' %>">
                        </div>
                    </div>
                <%}else{%>
                    <p class="etiqueta">Precio</p>
                    <div class="contenedor">
                        <div class="input-contenedor"></div>
                        <input type="number" min="0" id="price_product" name="price" >
                    </div>
    
                    <p class="etiqueta">Descuento</p>
                    <div class="contenedor">
                        <div class="input-contenedor">
                            <input type="number" min="0" max="50" id="discount_product" name="discount" >
                        </div>
                    </div>

                    <p class="etiqueta">Cantidad</p>
                    <div class="contenedor">
                        <div class="input-contenedor">
                            <input type="number" min="0" max="50" name="quantity" >
                        </div>
                    </div>

                    <p class="etiqueta">Imagen del producto</p>
                    <div class="contenedor">
                        <div class="input-contenedor">
                            <input type="file" name="img" ">
                        </div>
                    </div>
                <%  } %>
                <% if(locals.errors && errors.img){ %>
                    <p class="erroresLocales">
                        <%= errors.img.msg %>
                    </p>
                <% } %>

                <div class="contenedor">
                    <p class="etiqueta">Categoría</p>
                    <div class="input-contenedor">
                        <select name="cat_id" id="cat_id">
                            <option selected disabled>Selecciona la categoría</option>
                            <% categories.forEach(category=> { %>
                                <option value="<%= category.id %>">
                                    <%= category.cat_name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>

                    <button type="submit" id="button-create" class="button">Guardar producto</button>
                </form>
            </div>
        </main>
        <%- include('partials/footer')%>

    <script src="/js/createProduct.js"></script>
</html>