<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header')%>

        <body class="main">
            <form  action="/products/actualizar/<%= product.id %>?_method=PUT" method="POST" enctype='multipart/form-data' class="formulario">
                <h1>Formulario de edición del producto: <%= product.name %> </h1>
                    
                <p class="etiqueta">Nombre del producto</p>
                <div class="contenedor">
                    <div class="input-contenedor"></div>
                    <input type="text" name="name" value="<%= product.name %>">
                </div>

                <p class="etiqueta">Descripción</p>
                <div class="contenedor">
                    <div class="input-contenedor"></div>
                    <textarea type="text" name="description"><%= product.description %></textarea>
                </div>

                <p class="etiqueta">Precio</p>
                <div class="contenedor">
                    <div class="input-contenedor"></div>
                    <input type="number" min="0" name="price" value="<%= product.price %>">
                </div>

                <p class="etiqueta">Descuento</p>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <input type="number" min="0" max="50" name="discount" value="<%= product.discount %>">
                    </div>
                </div>

                <p class="etiqueta">Categoría</p>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <select name="cat_id">
                            <option selected disabled>Selecciona la categoría</option>
                            <% categories.forEach (function(category){ %>
                                <option value="<%= category.id %>">
                                    <%= category.cat_name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <p class="etiqueta">Cantidad</p>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <input type="number" min="0" max="50" name="quantity" value="<%= product.quantity %>">
                    </div>
                </div>

                <p class="etiqueta">Imagen del producto</p>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <input type="file" name="img" value="<%= product.img %>">
                        <% if(locals.errors && errors.img){ %>
                            <p class="erroresLocales">
                                <%= errors.img.msg %>
                            </p>
                        <% } %>
                    </div>
                </div>
                <button type="submit" class="button">Editar producto</button>
            </form>
    <%- include('partials/footer')%>
</body>
</html>