<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <%- include('partials/header')%>

        <main class="main">
            <div class="form-edit">
                <% if(locals.product && product.id && product.name){ %>
                    <form action="/products/actualizar/<%= product.id %>?_method=PUT" method="POST"
                        enctype='multipart/form-data' class="formulario">
                        <h1>Formulario de edición del producto: <%= product.name %></h1>
                <% } %>
                <% if(locals.old && locals.producto ){%>
                    <form action="/products/actualizar/<%=  producto.id ? producto.id : '' %>?_method=PUT" method="POST" enctype='multipart/form-data' class="formulario">
                    <h1 class="title">Formulario de edición del producto: <%= old.name ? old.name : '' %></h1>
                <%}%>
                <div id="ulErrors" class="erroresLocales">
                    <ul type="none"></ul>
                </div>
                                        <div class="contenedor">
                                        <p class="etiqueta">Nombre del producto</p>
                                            <div class="input-contenedor"></div>
                                            <% if(locals.product && product.name){ %>
                                                <input type="text" name="name" id="name_product" value="<%= product.name %>">
                                            <% } %>
                                            <% if(locals.old && old.name){%>
                                                <input type="text" name="name" id="name_product" value="<%= old.name %>">
                                            <%}%>
                                            <% if(locals.errors && errors.name){ %>
                                            <p class="erroresLocales">
                                                 <%= errors.name.msg %>
                                            </p>
                                            <% } %>
                                        </div>
                                        <div class="contenedor">
                                        <p class="etiqueta">Descripción</p>
                                            <div class="input-contenedor"></div>
                                            <% if(locals.product && product.description){ %>
                                                <textarea type="text"
                                                name="description" id="description_product"><%= product.description %></textarea>
                                            <% } %>
                                            <% if(locals.old && old.description){%>
                                                <textarea type="text"
                                                name="description" id="description_product"><%= old.description %></textarea>
                                            <%}%>
                                            <% if(locals.errors && errors.description){ %>
                                                <p class="erroresLocales">
                                                    <%= errors.description.msg %>
                                                </p>
                                            <% } %>

                                        </div>
                                        <% if(locals.product){ %>
                                            <div class="contenedor">
                                            <p class="etiqueta">Precio</p>
                                                <div class="input-contenedor"></div>
                                                <input type="number" min="0" name="price" id="price_product" value="<%= product.price %>">
                                            </div>

                                            <div class="contenedor">
                                            <p class="etiqueta">Descuento</p>
                                                <div class="input-contenedor">
                                                    <input type="number" min="0" max="50" name="discount" id="discount_product"
                                                        value="<%= product.discount %>">
                                                </div>
                                            </div>

                                            <p class="etiqueta">Cantidad</p>
                                            <div class="contenedor">
                                                <div class="input-contenedor">
                                                    <input type="number" min="0" max="50" name="quantity"
                                                        value="<%= product.quantity %>">
                                                </div>
                                            </div>

                                            <div class="contenedor">
                                            <p class="etiqueta">Imagen del producto</p>
                                                <div class="input-contenedor">
                                                    <input type="file" name="img" id="img-form" value="<%= product.img %>">
                                                </div>
                                            </div>
                                            <% } %>
                                                <% if(locals.old){ %>
                                                    <div class="contenedor">
                                                    <p class="etiqueta">Precio</p>
                                                        <div class="input-contenedor"></div>
                                                        <input type="number" min="0" name="price" id="price_product"
                                                            value="<%= old.price ? old.price : ''  %>">
                                                    </div>

                                                    <div class="contenedor">
                                                    <p class="etiqueta">Descuento</p>
                                                        <div class="input-contenedor">
                                                            <input type="number" min="0" max="50" name="discount" id="discount_product"
                                                                value="<%= old.discount ? old.discount : ''  %>">
                                                        </div>
                                                    </div>

                                                    <div class="contenedor">
                                                    <p class="etiqueta">Cantidad</p>
                                                        <div class="input-contenedor">
                                                            <input type="number" min="0" max="50" name="quantity"
                                                                value="<%=  old.quantity ? old.quantity : ''  %>">
                                                        </div>
                                                    </div>
                                                    <div class="contenedor">
                                                    <p class="etiqueta">Imagen del producto</p>
                                                        <div class="input-contenedor">
                                                            <input type="file" name="img" id="img-form"
                                                                value="<%= old.img? old.img : '' %>">
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% if(locals.errors && errors.img){ %>
                                                            <p class="erroresLocales">
                                                                <%= errors.img.msg %>
                                                            </p>
                                                            <% } %>
                                                                <!-- consultar como hacer el select con el old -->
                                                                <!-- <p class="etiqueta">Categoría</p>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <select name="cat_id">
                            <% if(locals.old && old.cat_id && old.cat_name){%>
                                <option value='<% old.cat_id %>'  selected disabled><% old.cat_name %></option>
                            <%}%>
                            <% if(locals.categories && product.description){ %>
                                <option value='' selected disabled>Selecciona la categoría</option>
                                <% categories.forEach (function(category){ %>
                                    <option value1="<%= category.id %>" value2="<%= category.cat_name %>">
                                        <%= category.cat_name %>
                                    </option>
                                <% }) %>
                            <%  } %>
                        </select>
                        <% if(locals.errors && errors.cat_id){ %>
                            <p class="erroresLocales">
                                <%= errors.cat_id.msg %>
                            </p>
                        <% } %>
                    </div>
                </div> -->
                                                                <button type="submit" id='button-create' class="button">Editar producto</button>
                                </form>
                                <%- include('partials/footer')%>
            </div>
        </main>
        <script src="/js/createProduct.js"></script>
</html>