<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    <main>
        <div id="el-slider">
            <ul class="slider">
              <li id="slide1">
                <h1>Cervezas</h1>
                <img src="/image/index.corona.jpg" alt="cerveza corona">
              </li>
              <li id="slide2">
                <h1>Vinos</h1>
                <img src="/image/index.vino.jpg" alt="vino"/>
              </li>
              <li id="slide3">
                <h1>Espumantes</h1>
                <img src="/image/index.champeta.jpg" alt="champagne"/>
              </li>
              <li id="slide4">
                <h1>Licores</h1>
                <img src="/image/index.gin.jpg" alt="gin"/>
              </li>
            </ul>          
            <ul class="menu">
              <li>
                <a href="#slide1"></a>
              </li>
              <li>
                <a href="#slide2"></a>
              </li>
               <li>
                <a href="#slide3"></a>
              </li>
              <li>
                <a href="#slide4"></a>
              </li>
            </ul>
          </div>
          <h3 class="titular">¡Nuestros productos!</h3>
          <section>
            <div class="productos">
              <% productoBase.forEach(function(element){ %>
                  <a href="/products/detail/<%= element.id %>">
                    <article class="producto">
                      <img src="/image/<%= element.img %>" alt="<%= element.name %>" />
                      <div class="contenedor-articulo">
                        <div class="descuentoprecio">
                          <h4><%= element.name %></h4>
                          <p class="precio"><%= element.precio %></p>
                          <p class="descuento"><%= element.descuento %></p></div>
                      </div>
                    </article>
                  </a>
              <% }) %>
            </div>
          </section>
          <section class="ofertas">
            <% productoBase.forEach(function(element){ %>
              <% if(element.descuento=='En oferta'){ %>
                <a href="/products/detail/<%= element.id %>">
                  <article class="producto">
                    <img src="/image/<%= element.img %>" alt="<%= element.name %>" />
                    <div class="contenedor-articulo">
                      <div class="descuentoprecio">
                        <h4><%= element.name %></h4>
                        <p class="precio"><%= element.precio %></p>
                        <p class="descuento"><%= element.descuento %></p></div>
                    </div>
                  </article>
                </a>
              <% } %>
          <% }) %>
          </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>