<html>
<%- include('partials/head') %>
    <script src="/js/login.js"></script>
        <%- include('partials/header') %>
            <div class="main-login">
                <div class="login-form">
                    <form class="formulario" action="/user/login" method="POST">
                        <h1 class="login-title">Ingresá a tu cuenta</h1>
                        <div class="contenedor">
                            <p class="etiqueta">Correo electrónico</p>
                            <i class="fa-solid fa-at icon"></i>
                            <input type="email" class="input-login" name="user_email"
                            id="user_email" value="<%= locals.old && old.user_email? old.user_email : '' %>">
                            <% if(locals.errors && errors.user_email) { %>
                                <p class="erroresLocales">
                                    <%= errors.user_email.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="contenedor">
                            <p class="etiqueta">Contraseña</p>
                            <i class="fa-solid fa-key icon"></i>
                            <input type="password" class="input-login" name="user_password" id="user_password" >
                            <div class="erroresLocales">
                                <% if(locals.errors && errors.user_password) { %>
                                    <p class="erroresLocales">
                                        <%= errors.user_password.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <div class="remember-user">
                            <p class="etiqueta">Recordar mi usuario</p>
                            <input type="checkbox" name="rememberUser">
                        </div>

                        <button type="submit" class="button">Ingresar</button>
                        <p>¿Todavía no tenés cuenta?<a class="link" href="/user/register"> Registrate</a></p>

                    </form>
                </div>
            </div>
            <%- include('partials/footer') %>

    <script src="/js/menu.js"></script>

</html>