<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div id="photo">
            <img src="/image/<%= producto.img %>" alt="<%= producto.name %>">
        </div>
        <div id="descripcion">
            <section>
                <h2><%= producto.name %></h2>
                <b>$<%= producto.precio %></b>
            </section>
            <div class="envio-retiro">
                <ul type="none">
                    <li><i class="fa-solid fa-shop"></i><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate debitis quos saepe ipsum beatae, commodi amet.</p></li>
                    <li><i class="fa-solid fa-truck"></i><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic qui, obcaecati deleniti officia ut quam adipisci.</p></li>
                </ul>
            </div>
            <div id="opcion-bebida">
                <!--<label for="opcion-bebida">Opcion</label>
                 <select name="opcion-bebida" id="envio-retiro">
                    <% productoBase.forEach(function(element){ %>
                        <option value="<%= element %>"><%= element.name %></option>
                    <%}) %>
                </select> -->
            </div>
            <div id="sel-cant">
                <!-- <label for="">Cantidades</label>
                <select name="cantidad" id="cantidades">
                    <% for(var i=0;i<=producto.cantidad;i++){ %>
                        <option value="<%= i %>"><%= i  %></option>
                    <% } %>
                </select> -->
            </div>
            <div id="boton-compra">
                <button>Comprar!</button>
                <a href="/products/edit/<%=producto.id %>"><button>Editar</button></a>
                <a href="/products/create"><button>Crear</button></a>
                <a href="/products/delete/<%= producto.id %>"><button>Borrar</button></a>
            </div>
            <div id="desc-res">
                <label for="">Descripcion</label>
                <p><%= producto.descripcion %></p>
                <label for="">Reseñas</label>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eaque optio quis voluptatum obcaecati omnis eum eveniet est iure amet at inventore error minima aliquid</p>
            </div>
        </div>
    </main>
    <%- include('partials/footer')%>
</body>
</html>