<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <script src="/js/menu.js"></script>

    <body>
        <%- include('partials/header') %>
            <main>
                <section>
                    <div class="productos">
                        <% productos.forEach(function(element){ %>
                            <article class="producto">
                                <a class="hipervinculo-productos" href="/products/detail/<%= element.id%>">
                                    <img src="/image/<%= element.img %>">
                                    <div class="contenedor-articulo">
                                        <p class="nombre_producto">
                                            <%= element.name %>
                                        </p>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <div class="precio_descripcion">
                                            <p class="precio"> $<%= element.price %>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </article>
                            <%})%>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>