<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="main_products">
                <section class="lastvisit">
                    <h3 class="titular">Seleccioná el producto que querés y luego completá el proceso de compra</h3>
                    <div class="productos">
                        <% productos.forEach(function(element){ %>
                            <article class="producto">
                                    <a href="/products/detail/<%= element.id%>">
                                    <img src="/image/<%= element.img %>">
                                    <div class="contenedor-articulo">
                                        <p class="nombre_producto"> <%= element.name %></p> 
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <div class="precio_descripcion">
                                            <p class="precio"><%= element.precio %></p>
                                        </div>
                                </article>
                            </a>
                        <%})%>
                    </div>
            </main>
            <%- include('partials/footer') %>
    </body>
</html>