<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
    <script src="/js/menu.js"></script>

    <body>
        <%- include('partials/header') %>

            <main class="main-profile">
                <div class="div-profile">
                    <h2 class="profile-title">Bienvenido <%= user.user_name%>
                    </h2>
                    <p class="profile-title ">Correo electrónico: <%= user.user_email %>
                    </p>
                    <p class="profile-title">Imagen de perfil</p>
                    <img src="/image/avatars/<%= user.user_img%>">
                </div>
                <div class="perfil-button">
                    <a href="/">Inicio</a>
                    <a href="/user/edit/<%= user.id %>">Editar usuario</a>
                    <% if(locals.user && user.user_cat==2){ %>
                        <a href="/products/create">Crear productos</a>
                        <a href="/user/userslist">Administrar usuarios</a>
                        <% } %>
                </div>

            </main>
            <%- include('partials/footer') %>
    </body>

</html>